@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Spartan', sans-serif;
}

header{
    background-color: #4ac596;
    padding: 1em;
}

#logo{
    padding-left: 3em;
}

nav{
    float: right;
    padding-top: 1em;
}

nav a{
    padding: 0 3em 0 0;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

nav a:hover{
    color: #eee;
}

#wrapper{
/*
    background-color: #f8be02;
    min-width: 900px;
*/
/*    max-width: 1280px;*/
/*    box-shadow: 5px 5px #4d4d4d;*/
    margin: auto;
}

/* End of Navigation */

main{
    min-height: 650px;
    padding-bottom: 5%;
}

#main-img{
    float: left;
    width: 30%;
    margin-top: 100px;
    margin-left: 5%;
}

.main-text{
    padding: 10% 5% 0 1%;
    overflow: hidden;
}

.main-text h1{
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.05em;
    word-spacing: 0.23em;
}

.main-text p{
    padding: 1.3em 0;
    line-height: 1.5em;
}

.main-text h3{
    font-size: 1.3em;
}

#main-button{
    background-color: #306de0;
    color: #eee;
    border: none;
    padding: 15px 20px;
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 40px;
    
}

#main-button:hover{
    background-color: #2350a3;
}
/* End of Main */

.services{
    margin-top: 50px;
    text-align: center;
}

.container{
    display: inline-block;
    width: 28%;
    min-height: 720px;
    background-color: #fff;
    padding: 2%;
    margin: 2%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #606060;
    vertical-align: top;
}

.photo{
    padding: 30px 5px;
}

.photo img{
    width: 90%;
    border-radius: 5px
}

.description{
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

.description .title{
    padding: 10px 0;
    font-size: 150%;
    font-weight: 600;

}

.description .text{
    text-align: justify;
    font-size: 0.9em;
    line-height: 130%;
}


/* Start of Insights (Table) */

.insights .content{
    margin: 4% auto 0 auto;
    text-align: center;
    
}

.insights .content h1{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.07em;
    word-spacing: 0.2em;
    padding-bottom: 2%
}

.insights .content p{
    width: 80%;
    margin: auto;
    text-align: left;
}

#para{
    display: block;
    padding: 1% 0;
}

#world{
    font-weight: bold;
    background-color: #ACE4CF;
}

#para a{
    color: inherit;    
}

#para a:hover{
    text-decoration: none;
    font-weight: bold;
}


.table-data{
    margin: 2% 0;
}

.table-data table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    caption-side: bottom;
}

.table-data table caption{
    padding: 5px;
}

.table-data th{
    background: #2350a3;
    color: #eee;
    font-weight: bold;
}

.table-data tr{
    text-align: center;
}

.table-data td, .table-data th{
    padding: 1%;
    border: 1px solid #000;
}

.table-data td:hover{
    background-color: #ACE4CF;
}

#year{
    background-color: #2350a3;
    color: #eee;
}

/* End of Why (Table) */

footer{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    background-color: #4ac596;
}


.footer-logo, .footer-text, .footer-social{
    width: 33%;
    margin: auto;
    text-align: center;
    margin-top: 0;
}
.footer-logo img{
    width: 200px;
    padding-bottom: 10px;
}
.footer-logo p{
    font-size: 80%;
    
}
.footer-logo p span{
    display: block;
}
.footer-text{
    padding-top: 10px;
}
.footer-text p{
    font-size: 80%;
}
.footer-text a{
    font-size: 80%;
    color: inherit;
    text-decoration: none;
}

.footer-social a{
    color: inherit;
}
.footer-social a i{
    font-size: 40px;
    padding: 6px;
    margin: 2px;
}

.footer-social i:hover{
    padding: 0px;
    font-size: 46px;
    color: #eee;
}



/*  Responsive at 1024px  */

@media screen and (max-width: 1024px){
    
    body{
        background-image: none;
    }
    
    #logo{
        padding: 0;
        display: block;
        margin: auto
    }
    nav{
        float: none;
        padding: 1.5em 0 0 0;
        text-align: center;
    }
    nav a{
        padding: 2em;
    }
    
    /* End of Navigation */
    
    main{
        min-height: auto;
    }
    .main-text{
        padding: 5%;
    }
    
    #main-img{
        display: none;
    }
    
    /*End of Main @1024*/
    
    .services{
        
    }
    
    .container{
        display: block;
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }
    
    .footer-logo img{
        width: 160px;
    }
    
    /*  Insights start @1024*/
    .insights .content{
        margin-top: 40px;
    }
    
    .table-data table{
        font-size: 80%;
    }
}






/*  Responsive at 768px  */

@media screen and (max-width: 768px){
    

    nav{
        float: none;
        padding: 1em 0 0 0;
    }
    
    nav a{
        display: block;
        text-align: center;
        padding: 10px;
        
    }
    #logo{
        padding: 0;
    }
    #logo img{
        display: block;
        margin: auto
    }
    
    /* End of Navigation */
    
    
    /* Start of Why (Table) */

    .table-data table, .table-data thead, .table-data tbody, .table-data th, .table-data td, .table-data tr {
        display: block;
    }
    

    .table-data table{
        margin: 5% auto 10% auto;
        font-size: 100%;
    }


    .table-data thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    .table-data tr{
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        border-top: 1px solid #000;
        margin-bottom: 15px;
    }
    
    .table-data td{
        border:  none;
        border-bottom: 1px solid #000;
        position: relative;
        padding-left: 50%;
    }
    
    .table-data td::before{
        position: absolute;
        top: 6px;
        left: 6px;
        width: 48%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
/*        border-right: 1px solid #555;*/

    }
    
    #year{
        text-align: left;
    }
    
    .table-data td:nth-of-type(1)::before{
        content: "Year - ";
        text-align: right;
    }
    .table-data td:nth-of-type(2)::before{
        content: "Facebook"
    }
    .table-data td:nth-of-type(3)::before{
        content: "YouTube"
    }
    .table-data td:nth-of-type(4)::before{
        content: "Twitter"
    }
    .table-data td:nth-of-type(5)::before{
        content: "Instagram"
    }
    .table-data td:nth-of-type(6)::before{
        content: "WeChat"
    }
    .table-data td:nth-of-type(7)::before{
        content: "Google+"
    }
    
    caption{
        display: block;
    }

    /* End of Why (Table) */
    
    footer{
        display: block;
        padding-top: 20px;
    }
    .footer-logo, .footer-text, .footer-social{
        display: block;
        margin: auto;
        width: 90%;
        padding-bottom: 10px;
    }
    .footer-logo img{
        width: 160px;
    }
    .footer-logo p{
        font-size: 100%;
    }
    .footer-social img{
        
    }
    
}
